h1{
font-size: 30px;
text-align: center;
color: #de7471
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #f0f7f6;
}

h1 {
    color: purple;
    text-align: center;
}

p {
    color: black;
    font-size: 18px;
}